<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Google Singin component -->
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="282630936768-vh37jnihfbm59s8jmkrr4eu7hl577r8r.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/api:client.js"></script>

		<title>Watch it later</title>

		<!-- Bootstrap Core CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="bower_components/angular-busy/dist/angular-busy.min.css" rel="stylesheet" type="text/css">
		<link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css">

		<!-- Custom CSS -->
		<link href="static-assets/css/agency.css" rel="stylesheet">
		<link href="stylesheets/app.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="vendors.min.js"></script>

		{{#if isProd}}
			<script>
				window.isProd = true;
			</script>
			<script src="angular-app/app.min.js"></script>
		{{else}}
			<script>
				window.isProd = false;
			</script>
			<script src="angular-app/init.app.js"></script>
			<script src="angular-app/main-config.app.js"></script>
			<script src="angular-app/router-config.app.js"></script>
			<script src="angular-app/run.app.js"></script>
		{{/if}}
	</head>
	<body data-ng-app="app" id="page-top" class="index">
		<ui-view/>	
	</body>
</html>
