<h4>Bookmarked Movies</h4>
<div class="container">
	<div ng-show="vm.showBookmarkLoading" class="row" ng-include src="'template/spinner.html'"></div>
	<table ng-show="!vm.showBookmarkLoading"
		class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Released</th>
				<th>Rating</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody ng-show="vm.movies.length === 0">
			<tr>
				<td colspan="5">
					No Data
				</td>
			</tr>
		</tbody>
		<tbody ng-show="vm.movies.length > 0">
			<tr ng-repeat="d in vm.movies | orderBy:'+Title'">
				<th scope="row">{{$index + 1}}</th>
				<td>
					<span class="app-topmovie-columntitle">
						<a ng-click="vm.showMovieDetail(d.imdbID, vm.movies)"
							href="">{{::d.Title}}</a>
					</span>
				</td>
				<td class="col-sm-2">{{::d.Released}}</td>
				<td class="col-sm-1">{{::d.imdbRating}}</td>
				<td class="col-sm-1">
					<button
						ng-click="vm.preUnbookmark(d.imdbID)" 
						type="button" class="btn btn-default btn-sm">Watched</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<uib-accordion>
    <uib-accordion-group is-open="vm.watchedOpened">
		<uib-accordion-heading>
			All Watched Movies
			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.watchedOpened, 'glyphicon-chevron-right': !vm.watchedOpened}">
			</i>
		</uib-accordion-heading>
		<div ng-show="vm.showWatchedLoading" class="row" ng-include src="'template/spinner.html'"></div>
		<table ng-show="!vm.showWatchedLoading"
			class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Released</th>
					<th>Rating</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody ng-show="vm.watchedMovies.length === 0">
				<tr>
					<td colspan="5">
						No Data
					</td>
				</tr>
			</tbody>
			<tbody ng-show="vm.watchedMovies.length > 0">
				<tr ng-repeat="d in vm.watchedMovies | orderBy:'+Title'">
					<th scope="row">{{$index + 1}}</th>
					<td>
						<span class="app-topmovie-columntitle">
							<a ng-click="vm.showMovieDetail(d.imdbID, vm.watchedMovies)"
								href="">{{::d.Title}}</a>
						</span>
					</td>
					<td class="col-sm-2">{{::d.Released}}</td>
					<td class="col-sm-1">{{::d.imdbRating}}</td>
					<td class="col-sm-1">
						<button
							ng-click="vm.moveToBookmark(d.imdbID)" 
							type="button" class="btn btn-default btn-sm">Watch again</button>
					</td>
				</tr>
			</tbody>
		</table>
    </uib-accordion-group>
</uib-accordion>

<script type="text/ng-template" id="watchedConfirm.html">
	<div class="modal-header">
		<h3 class="modal-title">
			Confirmation
		</h3>
	</div>
	<div class="modal-body">
		are you sure, you have been watching this movie ?
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="vm.doWatched()">Yes</button>
		<button class="btn btn-warning" type="button" ng-click="vm.doCancel()">Cancel</button>
	</div>
</script>