node_modules
stash

npm-debug.log

expressapp/public/bower_components

expressapp/public/vendors.js
expressapp/public/vendors.min.js
expressapp/public/stylesheets/app.min.css

expressapp/public/angular-app/**/*.min.js
expressapp/public/angular-app-build/**

expressapp/public/static-assets/imdb-img/