doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author" content="")

		title  Watch it later

		<!-- Bootstrap Core CSS -->
		link(href="css/bootstrap.min.css", rel="stylesheet")

		<!-- Custom CSS -->
		link(href="css/agency.css", rel="stylesheet")
		link(href="css/app.css", rel="stylesheet")

		<!-- Custom Fonts -->
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
		link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

	body(id="page-top", class="index")
		<!-- Navigation -->
		nav(class="navbar navbar-default navbar-fixed-top")
			div(class="container")
				<!-- Brand and toggle get grouped for better mobile display -->
				div(class="navbar-header page-scroll")
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only")="Toggle navigation"
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand page-scroll", href="#page-top")="Watch it later"


				<!-- Collect the nav links, forms, and other content for toggling -->
				div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav navbar-right")
						li(class="hidden")
							a(href="#page-top")
						li
							a(class="page-scroll", href="#whatisit").
								What is it?
						li
							a(class="page-scroll", href="#top10Movies").
								Latest Movies
						li
							a(class="page-scroll", href="#signup").
								Sign Up
						li
							a(class="page-scroll", href="#haloffame").
								Hal Of Fame

		header

		section(id="whatisit")
			div(class="container")
				div(class="row")
					div(class="col-lg-12 text-center")
						h2(class="section-heading") What is it ?
						h3(class="section-subheading text-muted"). 
							It's a simple application to bookmark a box office movie.
							<br/>
							It's used for my portfolio purpose, no commercial content in this app ;)
				div(class="row text-center")
					div(class="col-md-3")
						span(class="fa-stack fa-4x")
							i(class="fa fa-circle fa-stack-2x text-primary")
							i(class="fa fa-newspaper-o fa-stack-1x fa-inverse")
						h4(class="service-heading").
							Always up to date
					div(class="col-md-3")
						span(class="fa-stack fa-4x")
							i(class="fa fa-circle fa-stack-2x text-primary")
							i(class="fa fa-bookmark-o fa-stack-1x fa-inverse")
						h4(class="service-heading").
							Bookmark box office movie
					div(class="col-md-3")
						span(class="fa-stack fa-4x")
							i(class="fa fa-circle fa-stack-2x text-primary")
							i(class="fa fa-file-video-o fa-stack-1x fa-inverse")
						h4(class="service-heading").
							Wait until HD movie come-up
					div(class="col-md-3")
						span(class="fa-stack fa-4x")
							i(class="fa fa-circle fa-stack-2x text-primary")
							i(class="fa fa fa-share-alt fa-stack-1x fa-inverse")
						h4(class="service-heading").
							Share to your friends

		section(id="top10Movies", class="bg-light-gray")
			div(class="container")
				div(class="row")
					div(class="col-lg-12 text-center")
						h2(class="section-heading").
							Latest Movies
						h3(class="section-subheading text-muted").
							Latest Update : Sunday, Dec 12 2015

				div(class="row")
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BNjQzNDI2NTU1Ml5BMl5BanBnXkFtZTgwNTAyMDQ5NjE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								The Hunger Games: Mockingjay - Part 2
							p(class="text-muted").
								User Rating: 8.8
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BMjk0MjMzMTI3NV5BMl5BanBnXkFtZTgwODEyODkxNzE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								Krampus
							p(class="text-muted").
								User Rating: 8.3
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BMTc5MTg2NjQ4MV5BMl5BanBnXkFtZTgwNzcxOTY5NjE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								The Good Dinosaur
							p(class="text-muted").
								User Rating: 8.2
				div(class="row")
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BNjQzNDI2NTU1Ml5BMl5BanBnXkFtZTgwNTAyMDQ5NjE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								The Hunger Games: Mockingjay - Part 2
							p(class="text-muted").
								User Rating: 8.8
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BMjk0MjMzMTI3NV5BMl5BanBnXkFtZTgwODEyODkxNzE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								Krampus
							p(class="text-muted").
								User Rating: 8.3
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BMTc5MTg2NjQ4MV5BMl5BanBnXkFtZTgwNzcxOTY5NjE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								The Good Dinosaur
							p(class="text-muted").
								User Rating: 8.2
				div(class="row")
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BNjQzNDI2NTU1Ml5BMl5BanBnXkFtZTgwNTAyMDQ5NjE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								The Hunger Games: Mockingjay - Part 2
							p(class="text-muted").
								User Rating: 8.8
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BMjk0MjMzMTI3NV5BMl5BanBnXkFtZTgwODEyODkxNzE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								Krampus
							p(class="text-muted").
								User Rating: 8.3
					div(class="col-md-4 col-sm-6 portfolio-item")
						div(class="app-latestmovie-item")
							img(src="http://ia.media-imdb.com/images/M/MV5BMTc5MTg2NjQ4MV5BMl5BanBnXkFtZTgwNzcxOTY5NjE@._V1_SX214_AL_.jpg", alt="")
						div(class="portfolio-caption")
							h4.
								The Good Dinosaur
							p(class="text-muted").
								User Rating: 8.2

		section(id="signup")
			div(class="container")
				div(class="row")
					div(class="col-lg-12 text-center")
						h2(class="section-heading").
							Sign Up
						h3(class="section-subheading text-muted").
							Lorem ipsum dolor sit amet consectetur.

		section(id="haloffame", class="bg-light-gray")
			div(class="container")
				div(class="row")
					div(class="col-lg-12 text-center")
						h2(class="section-heading").
							Top 5 Movies
				div(class="row")
					div(class="col-sm-offset-1 col-sm-2")
						div(class="team-member")
							img(src="img/latestmovies/shawshank.jpg", class="img-responsive img-circle", alt="")
							h4.
								The Shawshank Redemption (1994)
							p(class="text-muted").
								Rating : 9.2
					div(class="col-sm-2")
						div(class="team-member")
							img(src="img/latestmovies/thegodfather.jpg", class="img-responsive img-circle", alt="")
							h4.
								The Godfather (1972)
							p(class="text-muted").
								Rating : 9.2
					div(class="col-sm-2")
						div(class="team-member")
							img(src="img/latestmovies/thegodfather2.jpg", class="img-responsive img-circle", alt="")
							h4.
								The Godfather: Part II (1974)
							p(class="text-muted").
								Rating : 9.0
					div(class="col-sm-2")
						div(class="team-member")
							img(src="img/latestmovies/thedarkknight.jpg", class="img-responsive img-circle", alt="")
							h4.
								The Dark Knight (2008)
							p(class="text-muted").
								Rating : 8.9
					div(class="col-sm-2")
						div(class="team-member")
							img(src="img/latestmovies/angrymen.jpg", class="img-responsive img-circle", alt="")
							h4.
								2 Angry Men (1957)
							p(class="text-muted").
								Rating : 8.9

		footer
			div(class="container")
				div(class="row")
					div(class="col-md-4")
						span(class="copyright")
					div(class="col-md-4")
						ul(class="list-inline social-buttons")
							li
								a(href="")
									i(class="fa fa-github")
							li
								a(href="")
									i(class="fa fa-facebook")
					div(class="col-md-4")
						ul(class="list-inline quicklinks")
							li
								a(href="https://www.upwork.com/freelancers/~016d109302643b6455").
									My Upwork Profile
							li
								a(href="http://startbootstrap.com/template-overviews/agency/").
									Theme
							li
								a(href="http://www.imdb.com/").
									Imdb

		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")

		<!-- Plugin JavaScript -->
		script(src="js/jquery.easing.min.js")
		script(src="js/classie.js")
		script(src="js/cbpAnimatedHeader.js")

		<!-- Custom Theme JavaScript -->
		script(src="js/agency.js")
