header {
	height: 700px;
}

.app-telmemore {
	color: #000;
}

.app-latestmovie-item {
	background-color: #eee;
	line-height: 150px;
	text-align: center;  
	min-height: 300px;
  display : flex;
  align-items : center;
}

.app-latestmovie-item img {
	vertical-align: middle;
	max-height: 290px;
	margin: auto;
}
     