@font-face {
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-style: normal;
  src: url('/static-assets/fonts/Kaushan-Script/fonts/Kaushan-Script-regular/Kaushan-Script-regular.eot');
  src: url('/static-assets/fonts/Kaushan-Script/fonts/Kaushan-Script-regular/Kaushan-Script-regular.eot?#iefix') format('embedded-opentype'),
       local('Kaushan Script'),
       local('Kaushan-Script-regular'),
       url('/static-assets/fonts/Kaushan-Script/fonts/Kaushan-Script-regular/Kaushan-Script-regular.woff2') format('woff2'),
       url('/static-assets/fonts/Kaushan-Script/fonts/Kaushan-Script-regular/Kaushan-Script-regular.woff') format('woff'),
       url('/static-assets/fonts/Kaushan-Script/fonts/Kaushan-Script-regular/Kaushan-Script-regular.ttf') format('truetype'),
       url('/static-assets/fonts/Kaushan-Script/fonts/Kaushan-Script-regular/Kaushan-Script-regular.svg#KaushanScript') format('svg');
}

