<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a ui-sref="home" class="navbar-brand page-scroll" href="">
				<span >Watch it later</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li >
					<a class="page-scroll" href="">Box Office</a>
				</li>
				<li>
					<a class="page-scroll" href="">Top Movie</a>
				</li>
				<li ng-show="!loggedUser.email">
					<a class="page-scroll" href="">Sign In</a>
				</li>
				<li ng-show="loggedUser.email">
					<a class="page-scroll" href="">My Account</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="app-topmovie-nav"/>

<section class="app-home-section">
	<div class="container">
		<table class="table table-striped">
				<thead>
					<tr>
							<th>#</th>
							<th>Title</th>
							<th>Released</th>
							<th>Director</th>
							<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="d in ::vm.listMovie">
							<th scope="row">{{$index + 1}}</th>
							<td>{{::d.Title}}</td>
							<td class="col-sm-2">{{::d.Released}}</td>
							<td class="col-sm-2">{{::d.Director}}</td>
							<td class="col-sm-1">{{::d.imdbRating}}</td>
					</tr>
				</tbody>
			</table>
	</div>
</section>

<footer id="footer" ng-include src="'angular-app/static-html/footer.html'"></footer>

<script type="text/ng-template" id="movieDetail.html">
	<div class="modal-header app-movieDetail-header">
		<div class="app-movieDetail-title">
			{{vm.selectedMovie.Title}}
		</div>
		<button ng-click="vm.closeDialog()"
			type="button" class="btn btn-default app-movieDetail-closebtn" aria-label="Left Align">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</div>
	<div class="modal-body app-movieDetail-body">
		<div class="row">
			<div class="col-sm-4">
				<form class="app-movieDetail-bodyleft">
					<div class="form-group">
						<label>Director</label>
						<div>
							{{vm.selectedMovie.Director}}
						</div>
					</div>
					<div class="form-group">
						<label>Writer</label>
						<div>
							{{vm.selectedMovie.Writer}}
						</div>
					</div>
					<div class="form-group">
						<label>Awards</label>
						<div>
							{{vm.selectedMovie.Awards}}
						</div>
					</div>
					<div class="form-group">
						<label>Type</label>
						<div>
							{{vm.selectedMovie.Type}}
						</div>
					</div>
					<div class="form-group" ng-show="!vm.isLogged">
						<label>Sign In</label>
						<div>
							<a id="google-signin-btn2" class="btn btn-social-icon btn-google">
								<span class="fa fa-google"></span>
							</a>
							<a class="btn btn-social-icon btn-facebook">
								<span class="fa fa-facebook"></span>
							</a>
							<a class="btn btn-social-icon btn-twitter">
							  <span class="fa fa-twitter"></span>
							</a>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-4 app-movieDetail-bodycenter">
				<img ng-src="{{vm.selectedMovie.Poster}}"/>
			</div>
			<div class="col-sm-4">
				<form class="app-movieDetail-bodyright">
					<div class="form-group">
						<label>Released</label>
						<input type="text" class="form-control" placeholder="{{vm.selectedMovie.Released}}" readonly/>
					</div>
					<div class="form-group">
						<label>Genre</label>
						<input type="text" class="form-control" placeholder="{{vm.selectedMovie.Genre}}" readonly/>
					</div>
					<div class="form-group">
						<label>Runtime</label>
						<input type="text" class="form-control" placeholder="{{vm.selectedMovie.Runtime}}" readonly/>
					</div>
					<div class="form-group">
						<label>Country</label>
						<input type="text" class="form-control" placeholder="{{vm.selectedMovie.Country}}" readonly/>
					</div>
					<div class="form-group">
						<label>Language</label>
						<input type="text" class="form-control" placeholder="{{vm.selectedMovie.Language}}" readonly/>
					</div>
					<div class="form-group app-movieDetail-rating">
						{{vm.selectedMovie.imdbRating}}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-sm-2 app-movieDetail-prevnext text-center">
				<img ng-click="vm.viewMovieDetail(vm.prevMovie.imdbID)" 
					ng-src="{{vm.prevMovie.Poster}}"/>
			</div>
			<div class="col-sm-8 text-justify app-movieDetail-plot">
				{{vm.selectedMovie.Plot}}
			</div>
			<div class="col-sm-2 app-movieDetail-prevnext text-center">
				<img ng-click="vm.viewMovieDetail(vm.nextMovie.imdbID)"
					ng-src="{{vm.nextMovie.Poster}}"/>
			</div>
		</div>
	</div>
</script>